/* Sidebar Text*/
#sidebar-wrapper {
    left: 0px;
    width: 100%;
    height: 150px;
    background: #4c4944;
}

.sidebar-nav {
    position: absolute;
    top: 20px;
    bottom: 20px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 0px;
    line-height: 40px;
    height:40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #f1f1f1;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #000;
    background: #f1f1f1;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

#image-settings{
    margin-left: 7px;
    margin-right: 7px;
}