<div clas="row">
	<div class="col-md-12 main-content-borders"> 
	<h1>
		<div class="main-content">
		<div class="row"> 
			<div class="col-md-12 main-content-row"> 
				<h1>INTERFAZ ANPR</h1> 
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4>RECORTE DE LA IMAGEN</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h1><img src="Images/Dummies/Car01.png" alt="imagen a cargar" width="300" height="200"></h1>
			</div>
			<div class="col-md-6">
				<h1><img src="Images/Dummies/googleMapsImage.gif" alt="imagen a cargar" width="300" height="200"></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h1><button>CARGAR</button></h1>
			</div>
			<div class="col-md-6">
				<h1><button>PROCESAR</button></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4>PLACA LOCALIZADA</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h1><img src="" alt="imagen localizada" width="600" height="80"></h1>		
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h4>PLACA</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h5><input class="main-content-input" type="text" name="fname"></h5>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h1><button>DESCARTAR</button></h1>
			</div>
			<div class="col-md-6">
				<h1><button>GUARDAR</button></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h1><button>GENERAR REPORTE</button></h1>
			</div>
		</div>
		</div>
	</h1>
</div>
</div>