<div clas="row">
<div class="col-md-12"> 
<h2 align="center">MULTA ELECTRONICA</h2>
</div>
</div>
<div clas="row">
<div class="col-md-12"> 
<h2 align="center">ORDEN DE COMPARENDO</h2>
</div>
</div>
<div clas="row">
<div class="col-md-9"> 
<h4>Nombre del Propietario del vehículo:</h4>
</div>
<div class="col-md-3"> 
<h4>sampleName</h4>
</div>
</div>
<div clas="row">
<div class="col-md-9"> 
<h4>Direccion:</h4>
</div>
<div class="col-md-3"> 
<h4>sampleAddress</h4>
</div>
</div>
<div clas="row">
<div class="col-md-12"> 
<table style="width:100%" class="styledTable">
  <tr>
    <th>Informacion de la Infraccion</th>
    <th>Image</th> 
  </tr>
  <tr>
    <td><p>Ejemplo de descripción de la infracción de transito</p></td>
    <td align="center">
	<img id="zoom_13" src="Images/Dummies/Images/TestSet/{{currentReport.imageid}}" alt="imagen a cargar" height="200">
    </td> 
  </tr>
</table>
</div>
<div class="col-md-12"> 
<table style="width:100%" class="styledTable">
  <tr>
    <th>Informacion del vehiculo Infractor</th> 
  </tr>
  <tr>
  <td>
	  <table style="width:100%">
		<tr>
			<th>placa</th>
			<th>Lugar de Matricula</th>
			<th>Tipo Vehiculo</th>
		</tr>
		<tr>
			<td>{{currentReport.plate}}</td>
			<td>Bogota D.C.</td>
			<td>AUTOMOVIL</td>
		</tr>
	  </table>
  </td>
  </tr>
  <tr>
	<table style="width:100%">
		<tr>
			<th> Nombre del Agente </th>
		</tr>
		<tr>
			<td> John Doe </td>
		</tr>
	</table>
  </tr>
</table>
</div>
</div>