<!-- Sidebar -->
<div id="sidebar-wrapper">
        <ul id="sidebar-wrapper-nav" class="sidebar-nav">
            <li>
                <a href="/profile"><img src="Images/Icons/profile-01.png" alt="Profile" height="35" width="50">PERFIL</a>
            </li>
            <li>
                <a href="/login"><img id="image-settings" src="Images/Icons/settings-01.png" alt="Settings" height="35" width="35">CONFIGURACION</a>
            </li>
            <li>
                <a href="/main"><img id="image-settings" src="Images/Icons/main-01.png" alt="Settings" height="35" width="35">DETECTAR</a>
            </li>
            <li>
                <a href="/login"><img id="image-settings" src="Images/Icons/login-01.png" alt="Settings" height="35" width="35">INGRESAR</a>
            </li>
            <li>
                <a href="/logout"><img src="Images/Icons/logout-01.png" alt="logout" height="35" width="50">DESCONECTARSE</a>
            </li>
        </ul>
</div>